---
layout: default
---
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7836332569926424"
     crossorigin="anonymous"></script>
<!-- july -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7836332569926424"
     data-ad-slot="7722370637"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<article class="post-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }} married?</h1>
    </header>

    <div articlebody" class="post-body itemprop=">
        {{ content }}
<h2 id="relationship-status">Relationship Status</h2>
<span>An engagement is when two people involved in a romantic relationship intend to be married. If you are not living with your partner until you are married, your status would continue as single until you are married.</span>
<p>There are many different relationship statuses as listed below:
</p>
<ul><li>(blank) - unspecified</li>
<li>single</li>
<li>in a relationship</li>
<li>engaged</li>
<li>married</li>
<li>it's complicated</li>
<li>in an open relationship</li>
<li>widowed</li>
<li>separated</li>
<li>divorced</li></ul>
    {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
    {%- endif -%}
</div>
<hr>
    {%- include author.html -%}
<footer>
	{%- include post-data.html -%}
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7836332569926424"
     crossorigin="anonymous"></script>
<!-- july -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7836332569926424"
     data-ad-slot="7722370637"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</footer>
